.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: black;
    .links{
        display: flex;
        margin-left: 15px;
        gap: 10px;
       
    .a {   
        text-decoration: none;
       
       
            
           
        .link{
            
            color: white;
            
            
        }}
    }

    .icons{
        .icon{}
    }
}