.container{
    border: 1px solid grey;
    .bloctabs{
        display: flex;
            flex-direction: row;
            
        .tabs{
            cursor: pointer;
            border: 1px solid grey;
            align-items: center;
            justify-content: space-between;
            padding: 10px 20px;
           
        }
    }
    .contenttabs{
        cursor: pointer;
       // &:before{}
       .content{
        background: white;
        padding: 20px;
        width: 100%;
        height: 100%;
        //display: none;
        .resim{
            width: 80px;
        }
        .icerik{
            h3{

            }
        }
       }
    }
}