
.yazarlar{
    
    margin-bottom: 25px;
  
    .yazarlarbaslik {
      display: flex;
      width: fit-content;
      height: 40px;
      color: white;
      background-color: black;
      align-items: center;
      padding-left: 20px;
      padding-right: 20px;
    }
    
    .yazarlarbaslikbottom {
      border-bottom: 5px solid black;
    }
  
    .yazarlistesi{
      margin: 10px;
      text-align: left;
    
    
      .yazar{
        display: flex;
        cursor: pointer;
        border-bottom: 1px solid black;
        padding-bottom: 20px;
        margin-top: 5px;
        .sol{
            align-items: left;
            .baslik{
              font-size: 14px;
            }

            .yazan{
              margin-top: 10px;
              font-size: 10px;
              font-weight: 400;
            }
            
        }
        .resim{
          width: 70px;
          height: 70px;
          border-radius: 50%;
          margin-left: 5px;
        }
    }

    }


  }